@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");

body {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  padding: 0 2rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  background: rgb(142, 160, 205);
}
header > .header__left {
  width: 50%;
  font-size: 1.5rem;
}
.header span {
  font-size: 1.1rem;
}

.header ul {
  display: flex;
  gap: 20px;
}

.header ul a {
  text-decoration: none;
  border: 1.5px solid #555;
  padding: 5px 10px;
  color: #333;
}

.component {
  font-size: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background: rgb(102, 103, 171);
  color: rgb(220, 220, 220);
}
.about {
  background: rgb(183, 184, 216);
}

.contact {
  background: rgb(124,125,176);
}
.star {
}
.active {
  color: #007bff;
  background: rgb(167,168,205) ;
  text-decoration: none;
}
